.container{
    position: relative;
}

.hide{
    opacity: 0;
    /* border: 3px solid #000; */
}

.item{
    width: 100%;
    height: 100px;
    position: absolute;

    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: linear;
}